<div id="head">
  <nav class="nav-bar">
    <form action="/home" method="POST" >
        <button class="btn btn-danger logout">Logout</button>
    </form>
  </nav>
     <form  action="/trip/create" method="post">
      <div id="newTripForm" class="row mb-3" >
        <label> Name</label>
          <input type="text" name="name" placeholder="BeerRunner" class="input"/>
        <div class="searchfields">
          <label>Start Location</label>
          <div id="startGeocoder"></div>
          <label>End Location</label>
          <div id="endGeocoder"></div>
        </div>
        <button type="submit" class="btn btn-success">Create Trip</button>
      </div>
     </form>
</div>

<div class="userinfo">
  <h1>{{user.username}}'s page</h1>
  <p>All Beer Runs</p>
</div>

<section>

 {{#each beerRuns}}

    <div class="card" style="width: 18rem;">
      <img src="/images/cardImage.jpeg" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
          <p>Bars on this route</p>
          {{#each this.bars}}
          <ul>
            <li class="card-text">{{text}}</li>
          </ul>
          {{/each}}

        <a href="/trip/{{this._id}}" class="btn btn-primary">View trip</a>
      </div>
    </div>
  {{/each}}
</section>


<input type="hidden" name="startLatitudePoint" value=""/>
<input type="hidden" name="startLongitudePoint" value=""/>
<input type="hidden" name="endLatitudePoint" value=""/>
<input type="hidden" name="endLongitudePoint" value=""/>

<script src="static/js/profile-geocoder.js"></script>
