
<div class="container">
      <nav class="nav-bar">
        <ul>
          <a href="/" class="navItem">Home</a>
          <a href="/" class="navItem">LogOut</a>
        </ul>
      </nav>
</div>

<h1>Profile Page</h1>