<div id="head">
  <nav class="nav-bar">
   <ul>
     
    <a class="btn btn-primary" href="a href="/home" class="navItem"" role="button">Home</a>
     </ul>
     </nav>
     <form>
 
      <div class="row mb-3" style="width: 18rem;">
      
      <label> Name
       <input type="text" name="name" placeholder="BeerRunner" />
      </label>

      <label> Start Latitude
       <input type="text" name="startLatitudePoint" value="52.511963803319404"/>
      </label>

     <label> Start Longitude
      <input type="text" name="startLongitudePoint" value="13.411238339071419"/>
    </label>

    <label> End Latitude
      <input type="text" name="endLatitudePoint" value="52.510503080857056"/>
    </label>

    <label> End Longitude
      <input type="text" name="endLongitudePoint" value="13.40753800326165"/>
    </label>
    <button type="submit" class="btn btn-success">Create Trip</button>
    
</div>
</div>
    {{!-- error message will be added here --}}


  <section>   
    <div>
 {{user.username}}
 
</div>


<div class="beerRun" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Beer Run</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
  <div class="beerRun" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="beerRun" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Beer Run</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
  <div class="beerRun" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Beer Run</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>


</section> 
  
