
<div class="container">
      <nav class="nav-bar">
        <ul>
          <a href="/home" class="navItem">Home</a>
        </ul>
      </nav>
</div>

<h1>Profile Page</h1>
{{user.username}}


<form action="/findaddress" method="post">
  <input type="text"  name="addressvalue">
  <button type="submit" >search address</button>
</form>


<form action="/home" method="POST">
    <button>Logout</button>
</form>


<div id="form">
  <h2>Create your own Trip here!</h2>
  <form action="/trip/create" method="POST">

    <label> Name
      <input type="text" name="name" placeholder="BeerRunner" />
    </label>

    <label> Start Latitude
      <input type="text" name="startLatitudePoint" value="52.511963803319404"/>
    </label>

     <label> Start Longitude
      <input type="text" name="startLongitudePoint" value="13.411238339071419"/>
    </label>

    <label> End Latitude
      <input type="text" name="endLatitudePoint" value="52.510503080857056"/>
    </label>

    <label> End Longitude
      <input type="text" name="endLongitudePoint" value="13.40753800326165"/>
    </label>

    <button type="submit">Create Trip</button>

    {{!-- error message will be added here --}}
  </form>
</div>
