
<div class="container">
      <nav class="nav-bar">
        <ul>
          <a href="/home" class="navItem">Home</a>
        </ul>
      </nav>
</div>

<h1>Profile Page</h1>
{{#with user}}
  {{username}}
  {{this}}
{{/with}}

{{#each beerRuns}}
  {{this}}
{{/each}}

<form action="/home" method="POST">
    <button>Logout</button>
</form>
