

<div id="form">
  <h2>Create your own Trip here!</h2>
  <form action="/trip/create" method="POST">

    <label> Name
      <input type="text" name="name" placeholder="BeerRunner" />
    </label>

    <label> Start Point
      <input type="text" name="startPoint" placeholder="52.492831362"/>
    </label>

    <label> End Point
      <input type="text" name="endPoint" placeholder="13.41749833"/>
    </label>

    <label> Number of Stops
      <input type="number" name="numberOfStops" placeholder="4"/>
    </label>

    <button type="submit">Create Trip</button>

    {{!-- error message will be added here --}}
  </form>
</div>


