<h2>Here you can find all of the details about {{beerRun.name}}!</h2>

 <div id='map'></div>

      <script>

      mapboxgl.accessToken = 'pk.eyJ1Ijoiam9jYXJiYWxsbyIsImEiOiJja3puMzVsaWM0YTl2MzBvMWVqcHJxaWhiIn0.UJWUB-BwaxMmZH4w7eSgGQ';

      const center = [
        {{#each centerCoordinates}}
          {{this}},
        {{/each}}
      ]
      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: center,
        zoom: 12
      });

      // need to decode JSON 
      let decodedJsonStr = decodeURIComponent("{{{markersJsonStr}}}");
      // create object with geo information from json string
      const geojson = JSON.parse(decodedJsonStr);
      console.log("Geo", geojson);

      // add markers to map
      for (const feature of geojson.features) {
        // create a HTML element for each feature
         const el = document.createElement('div');
         el.className = 'marker';

        // Create a popup
        const popup = new mapboxgl.Popup({ offset: 25 })
          .setText(feature.place_name);

        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el)
          .setLngLat(feature.geometry.coordinates)
          .setPopup(popup)
          .addTo(map);
      }


      </script>