body {
  padding: 50px;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.card {
  margin: 10px;
  padding: 10px;
}
#header {
  height: 80vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('../images/header_image.jpeg'); */
}
#moto {
  text-align: center;
}
#head {
  height: 80vh;
  background-color: aquamarine;
  display: flex;
}
.row {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
    top: 200px;
    left: 60px;
    background-color: gold;
}

#map {
  position: absolute;
  width: 40%;
  height: 40%;
  margin-left: 30%;

}

.review-rating {
  padding-top: 350px;
  padding-left: 50px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker {
    background-image: url('../images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    cursor: pointer;
}

#geocoder {
    z-index: 1;
    margin: 20px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}
