body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.card {
  margin: 10px;
  padding: 10px;
}
#header {
  height: 80vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
#moto {
  text-align: center;
}
#head {
  height: 80vh;
  background-color: aquamarine;
  display: flex;
}
.row {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
    top: 200px;
    left: 60px;
    background-color: gold;
}
