body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.fullwidth {
  width: 100%;
}

a {
  color: #00b7ff;
}

#moto > h1 {
  font-size: 200px;
  font-family: 'Alfa Slab One',  sans-serif;
  color: #ff5722;
}
section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.card {
  margin: 10px;
  padding: 10px 10px 30px 10px;
}
.ourinput {
  box-shadow: 1px 1px 10px rgb(214, 214, 214);
  height: 36px;
  /* border-color: white; */
}
#header {
  height: 80vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/header_background.png');
}
#moto {
  text-align: center;
}
#head {
  height: 50vh;
  background-color: aquamarine;
  display: flex;
  background-image: url('../images/header_background.png');
  position: relative;
}
.userinfo {
  margin: 20px;
}

.logout{
  margin: 20px;
}

.searchfields{
  display: flex;
  padding: 20px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;

}

.review-rating {
  padding-top: 350px;
  padding-left: 50px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker {
    background-image: url('../images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    cursor: pointer;
}

#geocoder {
    z-index: 1;
    margin: 20px;
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.review-item {
  height: 150px;
}

.section-header {
  color: black;
  font-size: 24px;
}

#details-left-section {
  width: 50%;
  padding-left: 24px;
  padding-top: 12px;
}

.details-header {
  padding-top: 12px
}

.profile-runs-header {
  padding-left: 24px;
}

.profile-input {
  margin-top: auto;
  margin-bottom: auto;
}


.trip-button {
  position: absolute;
  bottom: 10px;
  /* width: 100%; */
}
